<div class="panel panel-default">
  <div class="panel-body cardBody">
    <!-- Auction Ttile -->
    <div class="row">
      <span class="auctionCardLabel">
        <% if(auction.open) { %>
          <span class="label label-success">Open</span>
        <% } else { %>
          <% if (auction.start > new Date().getTime()) { %>
            <span class="label label-primary">Upcoming</span>
          <% } else if (auction.end < new Date().getTime()) { %>
            <span class="label label-default">Past</span>
          <% } else { %>
            <span class="label label-danger">Closed</span>
          <% } %>
        <% } %>
      </span>
      <span class="cardHeader">
        Auction:
        <a href="<%= browsePrefix %>/auctions/<%=auction._id%>">
          <%= auction._id %>
        </a>
      </span>
    </div>
    <!-- Auction Details --> 
    <div class="row">
      <br />
      <strong>Auction Start Date/Time:</strong>
      <span><%= auction.startFormatted %></span>
      <br />
      <strong>Auction End Date/Time:</strong>
      <span><%= auction.endFormatted %></span><em> (~ <%= minutes %> minutes)</em>
      <br />
      <em>
        To prevent sniping, the auction will end at a random time within the listed time range.
      </em>
      <br /><br />
      <strong>Ads Start Date/Time:</strong>
      <span><%= auction.adsStart %></span>
      <br />
      <strong>Ads End Date/Time:</strong>
      <span><%= auction.adsEnd %></span>
      <br />
      <% if (auction.description) { %>
        <br />
        <strong>Auction Description:</strong>
        <br />
        <%- auction.description %>
      <% } %>
    </div>

    <!-- Auction Regions -->
    <div class="row">
      <% if (errorMessage.length > 0) { %>
        <br />
        <div class="alert alert-danger text-center" role="alert">
          <strong><%= errorMessage %></strong>
        </div>
      <% } else { %>
        <br /><br />
      <% } %>
    </div>

    <div class="row">
      <% auction.regions.forEach(function(region) { %>
        <strong><%= region.name %> Bids</strong><br />
        <%= Number(region.slots) %> slots are for auction.<br />
        <%= Number(region.reservedSlots) %> universal reserved slots.<br />
        <% if (region.globalSlots) { %>
          <%= Number(region.globalSlots) %> global slots.<br />
        <% } %>
        <% if (region.otherSlots && region.otherSlots > 0) { %>
          <%= Number(region.otherSlots) %> slots from other global regions. <br />
        <% } %>
        <em>
          Advertising slots probability: 
          <% if (Array.isArray(region.probability)) { %>
            <% for (var i = 0; i < region.probability.length; i++) { %>
              <br /><%= region.probability[i] %> or <%= region.chances[i] %>
            <% } %>
          <% } else { %>
            <%= region.probability %> or <%= region.chances %>
          <% } %>
        </em>
        <br />

        <% if (user && auction.open) { %>
          <% if (registered && (approvedRegions.indexOf(region.name) > -1)) { %>
            <div class="row bidding">
              <form role="form" method="post" action="/sb/bids">
                <input type="hidden" name="auctionId" value="<%= auction._id %>">
                <input type="hidden" name="region" value="<%= region.name %>">

                <div class="col-sm-4 slot_text">
                  Advertising Slot(s):<br>
                  <input type="number" name="slots" class="form-control" value="1" min="1" max="<%= region.slots %>">
                </div>

                <div class="col-sm-4 slot_text">
                  Bid Per Slot:<br>
                  <input type="number" name="price" class="form-control" step="0.05" min="0.5" value="<%= Number(region.latestPrice).toFixed(2) %>">
                </div>

                <div class="col-sm-4 slot_text bid_button">
                  <button type="submit" class="btn btn-primary btn-block">Bid</button>
                </div>
              </form>
            </div>
          <% } %>
          <% if (!(approvedRegions.indexOf(region.name) > -1)) { %>
            <div class="alert alert-danger text-center">
              <strong>You do not have an approved ad for this region.</strong>
            </div>
          <% } %>
          <% if (!registered) { %>
            <div class="alert alert-danger text-center">
              <strong>You are not registered with the Auction.</strong>
            </div>
          <% } %>
        <% } %>

        <% if (user && user.admin) { %>
          <% region.primarySlots.forEach(function(slot) { %>
            <div class="slot slot_text">
              <div class="row">
                <div class="col-sm-4 truncate">
                  Bidder: 
                  <a href="<%= browsePrefix %>/users/<%= slot.user.userId %>">
                    <%= slot.user.username %>
                  </a>
                </div>
                <div class="col-sm-4 truncate">
                  Bid ID: <%= slot._id %>
                </div>
                <div class="col-sm-2"><%= slot.price %> BTC</div>
                <div class="col-sm-2">
                  <button class="btn btn-danger btn-xs loadDeleteBid" data-id="<%= slot._id %>">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <% region.primarySlots.forEach(function(slot) { %>
            <div class="slot slot_text">
              <div class="row">
                <div class="col-sm-5 truncate">
                  Bidder: 
                  <a href="<%= browsePrefix %>/users/<%= slot.user.userId %>">
                    <%= slot.user.username %>
                  </a>
                </div>
                <div class="col-sm-5 truncate">
                  Bid Id: <%= slot._id %>
                </div>
                <div class="col-sm-2"><%= slot.price %> BTC</div>
              </div>
            </div>
          <% }) %>
        <% } %>

        <% if (region.secondarySlots.length > 0) { %>
          <br>
          <em>Potential Auction Winners</em>
          <br>
          <em>
            These bids are the next in line to be chosen if any of the above bidders decide to cancel or cannot make payment. Bids are sorted by price.
          </em>
          <br>

          <% region.secondarySlots.forEach(function(slot) { %>
            <div class="slot slot_text">
              <div class="row">
                <div class="col-sm-5 truncate">
                  Bidder: 
                  <a href="<%= browsePrefix %>/users/<%= slot.user.userId %>">
                    <%= slot.user.username %>
                  </a>
                </div>
                <div class="col-sm-5 truncate">
                  Bid Id: <%= slot._id %>
                </div>
                <div class="col-sm-2"><%= slot.price %> BTC</div>
              </div>
            </div>
          <% }) %>
        <% } %>

        <% if (region.primarySlots.length === 0) { %>
          <div class="slot slot_text">
            No Current Bidders
          </div>
        <% } %>
      <% }) %>
    </div>
  </div>
</div>

<% if (user && user.admin && !auction.open) { %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Admin Auction Tools</strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6 row-text-sm">
          Re-Calculate Auction?
        </div>
        <div class="col-sm-6">
          <div class="pull-right">
            <button id="recalAuctionButton" class="btn btn-default btn-sm" data-id="<%= auction._id %>">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
<% } %>

<div id="deleteBidModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Bid?</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="deleteBidId">
        <p>Are you sure you want to invalidate this Bid?</p>
        <p>Invalidating this bid will also void any associated invoices.</p>
        <p>If the bidder has already paid an invoice that this process will try to invalidate, refunds may have to be provided manually.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button id="deleteBidButton" type="button" class="btn btn-danger">
          Delete
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
