<div class="panel panel-default">
  <div class="panel-body cardBody">
    <!-- Auction Ttile -->
    <div class="row">
      <span class="auctionCardLabel">
        <% if(auction.open) { %>
          <span class="label label-success">Open</span>
        <% } else { %>
          <% if (auctionStart > new Date().getTime()) { %>
            <span class="label label-primary">Upcoming</span>
          <% } else if (auctionEnd < new Date().getTime()) { %>
            <span class="label label-default">Past</span>
          <% } else { %>
            <span class="label label-danger">Closed</span>
          <% } %>
        <% } %>
      </span>
      <span class="cardHeader">
        Auction:
        <a href="<%= browsePrefix %>/auctions/<%=auction._id%>">
          <%= auction._id %>
        </a>
      </span>
    </div>
    <!-- Auction Details --> 
    <div class="row">
      <br />
      <strong>Auction Start Date/Time:</strong>
      <span><%= auction.start %></span>
      <br />
      <strong>Auction End Date/Time:</strong>
      <span><%= auction.end %></span><em> (~ <%= minutes %> minutes)</em>
      <br />
      <em>
        To prevent sniping, the auction will end at a random time within the listed time range.
      </em>
      <br /><br />
      <strong>Ads Start Date/Time:</strong>
      <span><%= auction.adsStart %></span>
      <br />
      <strong>Ads End Date/Time:</strong>
      <span><%= auction.adsEnd %></span>
      <br />
      <% if (auction.description) { %>
        <br />
        <strong>Auction Description:</strong>
        <br />
        <%- auction.description %>
      <% } %>
    </div>

    <!-- Auction Regions -->
    <div class="row">
      <% auction.regions.forEach(function(region) { %>
        <br /><br />
        <strong><%= region.name %> Bids</strong><br />
        <%= Number(region.slots) %> slots are for auction.<br />
        <%= Number(reservedSlots) %> universal reserved slots.<br />
        <em>
          Advertising slots probability: 
          <% if (Array.isArray(region.probability)) { %>
            <% for (var i = 0; i < region.probability.length; i++) { %>
              <br /><%= region.probability[i] %> or <%= region.chances[i] %>
            <% } %>
          <% } else { %>
            <%= region.probability %> or <%= region.chances %>
          <% } %>
        </em>
        <br />

        <% region.primarySlots.forEach(function(slot) { %>
          <div class="slot slot_text">
            <div class="row">
              <div class="col-sm-5 truncate">
                Bidder: 
                <a href="<%= browsePrefix %>/users/<%= slot.user.userId %>">
                  <%= slot.user.username %>
                </a>
              </div>
              <div class="col-sm-5 truncate">
                Bid Id: <%= slot._id %>
              </div>
              <div class="col-sm-2"><%= slot.price %> BTC</div>
            </div>
          </div>
        <% }) %>

        <% if (region.secondarySlots.length > 0) { %>
          <br>
          <em>Potential Auction Winners</em>
          <br>
          <em>
            These bids are the next in line to be chosen if any of the above bidders decide to cancel or cannot make payment. Bids are sorted by price.
          </em>
          <br>

          <% region.secondarySlots.forEach(function(slot) { %>
            <div class="slot slot_text">
              <div class="row">
                <div class="col-sm-5 truncate">
                  Bidder: 
                  <a href="<%= browsePrefix %>/users/<%= slot.user.userId %>">
                    <%= slot.user.username %>
                  </a>
                </div>
                <div class="col-sm-5 truncate">
                  Bid Id: <%= slot._id %>
                </div>
                <div class="col-sm-2"><%= slot.price %> BTC</div>
              </div>
            </div>
          <% }) %>
        <% } %>

        <% if (region.primarySlots.length === 0) { %>
          <div class="slot slot_text">
            No Current Bidders
          </div>
        <% } %>
      <% }) %>
    </div>
  </div>
</div>
