<div class="panel panel-default">
  <div class="panel-body cardBody">
    <div class="row">
      <span class="auctionCardLabel">
        <% if(auction.open) { %>
          <span class="label label-success">
            <% if (auction.region) { %><%= auction.region %>
            <% } else { %>Open<% } %>
          </span>
        <% } else { %>
          <% if (auctionStart > new Date().getTime()) { %>
            <span class="label label-primary">
              <% if (auction.region) { %><%= auction.region %>
              <% } else { %>Upcoming<% } %>
            </span>
          <% } else if (auctionEnd < new Date().getTime()) { %>
            <span class="label label-default">
              <% if (auction.region) { %><%= auction.region %>
              <% } else { %>Past<% } %>
            </span>
          <% } else { %>
            <span class="label label-danger">
              <%= auction.start %><br><%= auction.end %>
              <% if (auction.region) { %><%= auction.region %>
              <% } else { %>Closed<% } %>
            </span>
          <% } %>
        <% } %>&nbsp;
      </span>
      <span class="cardHeader">
        Auction:
        <a href="<%= browsePrefix %>/auctions/<%=auction._id%>">
          <%= auction._id %>
        </a>
      </span>
    </div>
    <div class="row">
      <br/>
      <strong>Auction Start Date/Time:</strong>
      <span class="scriptDate"><%= auction.start %></span>
      <br/>
      <strong>Auction End Date/Time:</strong>
      <span class="scriptDate"><%= auction.end %></span>
      <em>(within ~ 30 minutes)</em>
      <br/>
      <strong>Slots with Bids/Total Slots:</strong>
      <%= auction.bidPerSlot.length %>/<%= auction.slots %>
      <br />
      <strong>Auction Description:</strong>
      <br />
      <%= auction.description %>

    </div>
    <div class="row">
      <br>
      <b>Current Auction Winners</b>
      <br>

      <% for(var i=0; i < auction.bidPerSlot.length; i++) { %>
        <div class="slot slot_text">
          <div class="row">
            <div class="col-sm-3">Ad Slot #<%= i+1 %></div>
            <div class="col-sm-6">
              Bidder: 
              <a href="<%= browsePrefix %>/users/<%= auction.bidPerSlot[i].user.userId %>">
                <%= auction.bidPerSlot[i].user.username %>
              </a>
            </div>
            <div class="col-sm-3"><%= auction.bidPerSlot[i].price %> BTC</div>
          </div>
        </div>
      <% } %>

      <% if (auction.secondarySlots.length > 0) { %>

        <br>
        <b>Potential Auction Winners</b>
        <br>
        <em>
          These bids are the next in line to be chosen if any of the above bidders decide to cancel or cannot make payment. Bids are sorted by price.
        </em>
        <br>

        <% for(var i=0; i < auction.secondarySlots.length; i++) { %>
          <div class="slot slot_text">
            <div class="row">
              <div class="col-sm-3">Ad Slot</div>
              <div class="col-sm-6">
                Bidder: 
                <a href="<%= browsePrefix %>/users/<%= auction.secondarySlots[i].user.userId %>">
                  <%= auction.secondarySlots[i].user.username %>
                </a>
              </div>
              <div class="col-sm-3"><%= auction.secondarySlots[i].price %> BTC</div>
            </div>
          </div>
        <% } %>

      <% } %>

      <% if (auction.bidPerSlot.length === 0) { %>
        <div class="slot slot_text">
          No Current Winners
        </div>
      <% } %>
    </div>
  </div>
</div>
