<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/scripts/codemirror/lib/codemirror.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Main Content -->
    <div class="upload-header text-center">
      <h1>Bitcoin Talk Ad Editor</h1>
      <% if (ad) { %>
        Editing Ad: <%= ad._id %>
      <% } %>
      <noscript>
        <br>
        We've noticed you're not using JavaScript.<br>
        This page may not work at its best without JavaScript.<br>

        <strong>Things you're missing out on: </strong><br>
        <ul style="width: 300px; margin: auto;">
          <li>
            Saving your ads before submitting.
          </li>
          <li>
            Preview your ad before submitting.
          </li>
          <li>
            Syntax Highlighting in the text area.
          </li>
        </ul>
        But you can still submit ads. 
      </noscript>
    </div>

    <div class="container-fluid bootstrap-fluid-fix">
      <div class="row coding-section">
        <div class="col-sm-offset-3 col-sm-6 well">
            <div style="padding-bottom: 20px;">
              Add your Ad HTML/CSS below:
            </div>
            <form action="<%= browsePrefix %>/ads<% if(ad) { %>/<%= ad._id %><% } %>" method="post">

              CSS: <br />
              <em>- Write as if you were between &lt;style&gt; tags</em><br>
              <em>- Use a unique prefix for all classes, no IDs</em>
              <textarea name="css" id="upload-css" rows="3"><% if(ad && ad.html) { %><%- ad.css %><% } %></textarea>

              <br>
              HTML:
              <textarea name="html" id="upload-code" rows="3"><% if(ad && ad.html) { %><%- ad.html %><% } %></textarea>

              <br>
              
              Please choose the regions you want your ad to display in. 
              <% regions.forEach(function(region) { %>
                <div class="checkbox">
                  <label>
                    <input id="<%= region %>" name="<%= region %>" type="checkbox" <% if (ad && ad.regions && ad.regions.indexOf(region) > -1) { %>checked<% } %> class="region"><%= region %>
                  </label>
                </div>
              <% }) %>
              <noscript>
                <input type="hidden" name="submitted" id="submitted" value="true">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
              </noscript>
            </form>
        </div>
      </div>

      <noscript>
        <div class="row text-center">
          <strong>
          Since you're not using JS, 
          ignore eveything under this line
        </strong>
        </div>
        <hr>
      </noscript>

      <div id="preview-container" class="row review-section">
        <div class="col-sm-offset-3 col-sm-6 well">
          <div id="preview-text" class="row review-section-text">
            <div class="col-sm-12">
              This is what your add will look like on the page:</br>
            </div>
          </div>

          <div id="preview"></div>

          <div class="btn-group btn-group-justified review-buttons">
            <div class="btn-group">
              <button class="btn btn-default pull-right" onclick="submitForReview(false);">Save for Later</button>
            </div>
            <div class="btn-group">
              <button class="btn btn-success pull-right" onclick="submitForReview(true);">Submit for Review</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/scripts/jquery/jquery-2.1.0.min.js"></script>
    <script src="/css/bootstrap/js/bootstrap.js"></script>
    <script src="/scripts/codemirror/lib/codemirror.js"></script>
    <script src="/scripts/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/scripts/codemirror/mode/xml/xml.js"></script>
    <script src="/scripts/codemirror/mode/javascript/javascript.js"></script>
    <script src="/scripts/caja/html-sanitizer-minified.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- custom scripts -->
    <script>
      var textArea = document.getElementById("upload-code");
      var htmlCodeMirror = CodeMirror.fromTextArea(textArea, {
        mode:  "htmlmixed",
        indentWithTabs: false,
        tabSize: 2,
        lineNumbers: true
      });
      htmlCodeMirror.setSize(null, 150);
      // on change event: update preview and clean html
      htmlCodeMirror.on("change", function(cm, change) { convert(); });

      var textAreaCSS = document.getElementById("upload-css");
      var cssCodeMirror = CodeMirror.fromTextArea(textAreaCSS, {
        mode:  "htmlmixed",
        indentWithTabs: false,
        tabSize: 2,
        lineNumbers: true
      });
      cssCodeMirror.setSize(null, 150);
      // on change event: update preview and clean html
      cssCodeMirror.on("change", function(cm, change) { convert(); });

      function convert() {
        // add CSS to head of this page
        // raw css
        var raw_css = cssCodeMirror.getValue();
        // style tag in head
        var cssHolder = $('style[title="temp css"]');
        if (cssHolder.length) {
          cssHolder.empty();
          cssHolder.html(raw_css);
        }
        else {
          // style doesn't exist so create it
          var head = document.getElementsByTagName('head')[0];
          var css = document.createElement('style');
          css.title = 'temp css';
          css.type = 'text/css';
          css.innerHTML = raw_css;
          head.appendChild(css);
        }

        // scrub the raw html for any security leaks
        var raw_html = htmlCodeMirror.getValue();
        function urlX(url) { if(/^https?:\/\//.test(url)) { return url; }}
        function idX(id) { return id }
        var parsedHtml = html_sanitize(raw_html, urlX, idX);

        // inject the parsed html into the page
        var preview = document.getElementById('preview');
        preview.innerHTML = parsedHtml;
      }

      function submitForReview(submit) {
        var html = $("#preview").html();
        var css = cssCodeMirror.getValue();;

        // get blacklist values
        var regions = [];
        $('.region').each(function(index, value) {
          if ($(value).prop('checked')) { regions.push(value.id); }
        });
        if (regions.length === 0) {
          alert('You need to add at least one region.');
          return;
        }

        var data = {
          submitted: submit,
          css: css,
          html: html,
          regions: regions
        }

        var url = "<%= browsePrefix %>/ads<% if(ad) { %>/<%= ad._id %><% } %>";

        $.ajax({
          type: "POST", 
          url: url, 
          data: data,
          success: function(data) {
            window.location="<%=browsePrefix%>/users/<%= user.userId %>";
          } 
        });
      }
    </script>
  </body>
</html>
