<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/scripts/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!-- hidden ad info for editing -->
    <input id="adId" type="hidden" value="<% if (ad) { %><%= ad._id %><% } %>">
    <input id="userId" type="hidden" value="<%= user.userId %>">

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Main Content -->
    <div class="upload-header text-center">
      <h1>Bitcoin Talk Ad Editor</h1>
      <% if (ad) { %>
        Editing Ad: <%= ad._id %> by <a href="https://bitcointalk.org/index.php?action=profile;u=<%= ad.userId %>"><%= ad.username %></a><br />
        </div>
      <% } %>
      <noscript>
        <br>
        We've noticed you're not using JavaScript.<br>
        This page may not work at its best without JavaScript.<br>

        <strong>Things you're missing out on: </strong><br>
        <ul style="width: 300px; margin: auto;">
          <li>
            Saving your ads before submitting.
          </li>
          <li>
            Preview your ad before submitting.
          </li>
          <li>
            Syntax Highlighting in the text area.
          </li>
        </ul>
        But you can still submit ads. 
      </noscript>
    </div>

    <div class="container-fluid bootstrap-fluid-fix">
      <div class="row coding-section">
        <div class="col-sm-offset-1 col-sm-10 well">
            <div style="padding-bottom: 20px;">
              Add your Ad HTML/CSS below:
            </div>
            <form action="<%= browsePrefix %>/ads<% if(ad) { %>/<%= ad._id %><% } %>" method="post">

              CSS: <br />
              <em>- Write as if you were between &lt;style&gt; tags</em><br>
              <em>- Use a unique prefix for all classes, no IDs</em>
              <textarea name="css" id="upload-css" rows="3"><% if(ad && ad.html) { %><%- ad.css %><% } %></textarea>

              <br>
              HTML:
              <textarea name="html" id="upload-code" rows="3"><% if(ad && ad.html) { %><%- ad.html %><% } %></textarea>

              <br>
              
              Please choose the regions you want your ad to display in. 
              <% regions.forEach(function(region) { %>
                <div class="checkbox">
                  <label>
                    <input id="<%= region %>" name="<%= region %>" type="checkbox" <% if (ad && ad.regions && ad.regions.indexOf(region) > -1) { %>checked<% } %> class="region"><%= region %>
                  </label>
                </div>
              <% }) %>
              <noscript>
                <input type="hidden" name="submitted" id="submitted" value="true">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
              </noscript>
            </form>
        </div>
      </div>

      <noscript>
        <div class="row text-center">
          <strong>
          Since you're not using JS, 
          ignore eveything under this line
        </strong>
        </div>
        <hr>
      </noscript>

      <div class="row review-section">
        <div class="col-sm-offset-1 col-sm-10 well">
          <div id="preview-text" class="row review-section-text">
            <div class="col-sm-12 text-center">
              This is what your add will look like on the page:</br>
            </div>
          </div>

          <div id="preview" style="font-size: 90%; text-align: center;"></div>
        </div>
      </div>

      <div class="row review-section">
        <div class="col-sm-offset-3 col-sm-6 well">
          <div class="btn-group btn-group-justified">
            <% if (!user.admin || (user.admin && ad && user.userId === ad.userId) || (user.admin && !ad)) { %>
              <div class="btn-group">
                <button class="btn btn-default pull-right submitAd" data-submit="false">
                  Save for Later
                </button>
              </div>
            <% } %>
            <div class="btn-group">
              <button class="btn btn-success pull-right submitAd" data-submit="true">
                <% if (ad && user.admin && user.userId !== ad.userId) { %>Update Ad<% } else { %>Submit for Review<% } %>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="/scripts/jquery/jquery-2.1.0.min.js"></script>
    <script src="/css/bootstrap/js/bootstrap.js"></script>
    <script src="/scripts/codemirror/lib/codemirror.js"></script>
    <script src="/scripts/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/scripts/codemirror/mode/xml/xml.js"></script>
    <script src="/scripts/codemirror/mode/javascript/javascript.js"></script>
    <script src="/scripts/caja/html-sanitizer-minified.js"></script>
    <script src="/scripts/upload_main.js"></script>
  </body>
</html>
