<% layout('sblayout') %>
<div class="content-page col-sm-offset-1 col-sm-10">

  <h3>Admin Tools</h3>

  <div class="panel panel-default"> 
    <div class="panel-heading">
      <b>Add Auction</b>
    </div>
    <div class="panel-body slot_text">
      
      <form role="form" method="post" action="/auctions">

      <div class="col-sm-3">
        Start Time:
        <input name="startDate" id="startDate" type="date" class="form-control">
        <input name="startTime" id="startTime" type="time" class="form-control">
      </div>
      <div class="col-sm-3">
        End Time: 
        <input name="endDate" id="endDate" type="date" class="form-control">
        <input name="endTime" id="endTime" type="hour" class="form-control">
      </div>
      <div class="col-sm-3">
        Number of slots:<br>
        <input name="slotNumber" type="number" class="form-control" value="8" step="1" min="1" max="8">
      </div>
      <div class="col-sm-3 auction_add_button">
        <button class="btn btn-primary btn-block" type="submit">
          Add Auction
        </button>
      </div>

      </form>

    </div>
  </div>

  <div class="panel panel-default"> 
    <div class="panel-heading">
      <b>Open Auctions</b>
    </div>
    <% for (var i = 0; i < auctionsOpen.length; i++) { %>
      <div class="panel-body slot_text">
        <div class="col-sm-3">
          Auction: <%= auctionsOpen[i].id %>
        </div>
        <div class="col-sm-3">
          Status: <span class="label label-success">Open</span>
        </div>
        <div class="col-sm-3">
          <a href="<%= browsePrefix %>/auctions/<%= auctionsOpen[i].id %>">
            Details
          </a>
        </div>
        <div class="col-sm-3">
          <a class="" href="<%= browsePrefix %>/auction/details">
            Close Auction
          </a>
        </div>
      </div>
    <% } %>
  </div>

  <div class="panel panel-default"> 
    <div class="panel-heading">
      <b>Closed Auctions</b>
    </div>
    <% for (var i = 0; i < auctionsClosed.length; i++) { %>
      <div class="panel-body slot_text">
        <div class="col-sm-3">
          Auction: <%= auctionsClosed[i].id %>
        </div>
        <div class="col-sm-3">
          Status: <span class="label label-danger">Closed</span>
        </div>
        <div class="col-sm-3">
          <a href="<%= browsePrefix %>/history">
            Details
          </a>
        </div>
        <div class="col-sm-3">
          <a class="" href="<%= browsePrefix %>/auction/details">
            Re-Open Auction
          </a>
        </div>
      </div>
      <% } %>
  </div>

</div>


<div id="deleteAuctionModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Auction?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this auction?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
