<% layout('sblayout') %>
<div class="content-page col-sm-12">

  <!-- flash message from the system -->
  <% if (infoMessage && infoMessage.length > 0) { %>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
      </button>
      <% infoMessage.forEach(function(item) { %>
        <%= item %><br>
      <% }) %>
    </div>
  <% } %>

  <!-- admin navigation bar -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <strong>Admin Tools</strong>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/admin/ads/factoids">Factoids</a>
          </li>
          <li>
            <a href="/admin/ads/reserved">Reserved Ads</a>
          </li>
          <li>
            <a href="/admin/ads/review">Needs Review</a>
          </li>
          <li>
            <a href="/admin/invoices">Auction Invoices</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Auction Creation Tool -->
  <div class="panel panel-default"> 
    <div class="panel-heading"><strong>Add Auction</strong></div>

    <div class="panel-body slot_text">
      
      <!-- Auction/Ads Times -->
      <div class="row text-left">
        <div class="col-sm-3">
          Auction Start Date/Time: 
          <div class="form-group">
            <div class='input-group date' id='auctionStart'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          Auction End Date/Time: 
          <div class="form-group">
            <div class='input-group date' id='auctionEnd'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          Ads Start Date/Time: 
          <div class="form-group">
            <div class='input-group date' id='adsStart'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          Ads End Date/Time: 
          <div class="form-group">
            <div class='input-group date' id='adsEnd'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Auction Description -->
      <div class="row text-left">
        <div class="form-group col-sm-12">
          Auction Description: (HTML Allowed)
          <textarea id="auctionDescription" class="form-control"></textarea>
        </div>
      </div>
  
      <br />

      <!-- Auction Regions -->
      <div class="panel panel-default">
        <div class="panel-heading text-left">Auction Regions</div>
        
        <div class="panel-body">

          <div class="row">
            <div class="col-sm-5 text-left">
              Region:
              <select name="auctionRegions" id="auctionRegion" class="form-control">
                <% regions.forEach(function(region) { %>
                  <option value="<%= region %>"><%= region %></option>
                <% }); %>
              </select>
            </div>
      
            <div class="col-sm-5 text-left">
              Number of slots:<br />
              <input id="slots" type="number" class="form-control" value="8" step="1" min="1">
            </div>

            <div class="col-sm-2 auction_add_button">
              <button class="btn btn-primary btn-block" onclick="addRegion();">
                Add Region
              </button>
            </div>
          </div>

          <div class="row">
            <br \>
            <div class="col-sm-12 table-responsive">
              <table id="regionsTable" class="table table-striped table-condensed table-hover">
                <thead>
                  <tr>
                    <th>Region</th>
                    <th>Number of Slots</th>
                  </tr>
                </thead>
                <tbody class="text-left"></tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <span id="errorText" class="text-danger"></span>
          </div>

        </div>
      </div>

      <!-- Auction submit -->
      <div class="row">
        <div class="col-sm-offset-8 col-sm-4 auction_add_button">
          <button class="btn btn-success btn-block" onclick="submitAuction();">
            Add Auction
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-success"> 
    <div class="panel-heading">
      <b>Open Auctions</b> <em>(Sorted by Start Time)</em>
    </div>
    <div class="panel-body">
      <% for (var i = 0; i < auctionsOpen.length; i++) { %>
        <div class="row auction_listing">
  
          <div class="col-sm-12">
            <span class="auction_header">Auction: </span>
            <a href="<%= browsePrefix %>/auctions/<%= auctionsOpen[i]._id %>">
              <%= auctionsOpen[i]._id %>
            </a>
          </div>

          <div class="col-sm-6">
            <span class="auction_header">Start: </span>
            <span class="scriptDate"><%= auctionsOpen[i].start %></span>
            <br>
            <span class="auction_header">End: </span>
            <span class="scriptDate"><%= auctionsOpen[i].end %></span>
            <% if (auctionsOpen[i].region) { %>
              <br>
              <span class="auction_header">Region:</span>
              <%= auctionsOpen[i].region %>
            <% } %>
          </div>
          
          <div class="col-sm-offset-3 col-sm-3 text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-primary">Options</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="/admin/auctions/edit/<%= auctionsOpen[i]._id %>">
                    Edit
                  </a>
                </li>
                <li>
                  <a href="#" onclick="auctionDisable(event, '<%=auctionsOpen[i]._id%>');">
                    Disable
                  </a>
                </li>
                <li>
                  <a href="#" onclick="loadDelete('<%= auctionsOpen[i]._id%>');">
                    Delete
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      <% } %>
    </div>
  </div>

  <div class="panel panel-danger"> 
    <div class="panel-heading">
      <b>Disabled Open Auctions</b> <em>(Sorted by Start Time)</em>
    </div>
    <div class="panel-body">
      <% for (var i = 0; i < auctionsClosed.length; i++) { %>
        <div class="row auction_listing">

          <div class="col-sm-12">
            <span class="auction_header">Auction: </span>
            <a href="<%= browsePrefix %>/auctions/<%= auctionsClosed[i]._id %>">
              <%= auctionsClosed[i]._id %>
            </a>
          </div>

          <div class="col-sm-6">
            <span class="auction_header">Start: </span>
            <span class="scriptDate"><%= auctionsClosed[i].start %></span>
            <br>
            <span class="auction_header">End: </span>
            <span class="scriptDate"><%= auctionsClosed[i].end %></span>
          </div>
          
          <div class="col-sm-offset-3 col-sm-3 text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-primary">Options</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="/admin/auctions/edit/<%= auctionsClosed[i]._id %>">
                    Edit
                  </a>
                </li>
                <li>
                  <a href="#" onclick="auctionEnable(event, '<%=auctionsClosed[i]._id%>');">
                    Enable
                  </a>
                </li>
                <li>
                  <a href="#" onclick="loadDelete('<%= auctionsClosed[i]._id%>');">
                    Delete
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      <% } %>
    </div>
  </div>

  <div class="panel panel-primary"> 
    <div class="panel-heading">
      <b>Future Auctions</b> <em>(Sorted by Start Time)</em>
    </div>
    <div class="panel-body">
      <% for (var i = 0; i < auctionsFuture.length; i++) { %>
        <div class="row auction_listing">

          <div class="col-sm-12">
            <span class="auction_header">Auction: </span>
            <a href="<%= browsePrefix %>/auctions/<%= auctionsFuture[i]._id %>">
              <%= auctionsFuture[i]._id %>
            </a>
          </div>

          <div class="col-sm-6">
            <span class="auction_header">Start: </span>
            <span class="scriptDate"><%= auctionsFuture[i].start %></span>
            <br>
            <span class="auction_header">End: </span>
            <span class="scriptDate"><%= auctionsFuture[i].end %></span>
          </div>

          <div class="col-sm-offset-3 col-sm-3 text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-primary">Options</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="/admin/auctions/edit/<%= auctionsFuture[i]._id %>">
                    Edit
                  </a>
                </li>
                <li>
                  <a href="#" onclick="loadDelete('<%= auctionsFuture[i]._id%>');">
                    Delete
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      <% } %>
    </div>
  </div>

  <div class="panel panel-default"> 
    <div class="panel-heading">
      <b>Past Auctions </b><em>(Sorted by End Time)</em>
    </div>
    <div class="panel-body">
      <% for (var i = 0; i < auctionsPast.length; i++) { %>
        <div class="row auction_listing">

          <div class="col-sm-12">
            <span class="auction_header">Auction: </span>
            <a href="<%= browsePrefix %>/auctions/<%= auctionsPast[i]._id %>">
              <%= auctionsPast[i]._id %>
            </a>
          </div>

          <div class="col-sm-6">
            <span class="auction_header">Start: </span>
            <span class="scriptDate"><%= auctionsPast[i].start %></span>
            <br>
            <span class="auction_header">End: </span>
            <span class="scriptDate"><%= auctionsPast[i].end %></span>
          </div>

          <div class="col-sm-offset-3 col-sm-3 text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-primary">Options</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="/admin/auctions/edit/<%= auctionsPast[i]._id %>">
                    Edit
                  </a>
                </li>
                <li>
                  <a href="#" onclick="loadDelete('<%= auctionsPast[i]._id%>');">
                    Delete
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>

</div>


<div id="deleteAuctionModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Auction?</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="deleteAuctionId">
        <p>Are you sure you want to delete this auction?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" onclick="auctionDelete(event);">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
  function submitAuction(event) {
    // input validation
    var valid = auctionValidation();
    if(!valid) { return; }

    // grab region
    var regions = gatherRegions();
    var regionsValid = validateRegions(regions);
    if (!regionsValid) { return; }

    // ajax post call to server to create auction
    $.ajax({
      type: "POST",
      url: '<%= browsePrefix %>/auctions',
      data: {
        start: valid.auctionStart,
        end: valid.auctionEnd,
        adsStart: valid.adsStart,
        adsEnd: valid.adsEnd,
        description: valid.description,
        regions: regions
      },
      success: function() {
        location.reload();
      },
      error: function() {
        alert("There was an error creating the auction.");
      }
    });
  }

  function auctionEnable(ev, auctionId) {
    ev.preventDefault();
    $.post("<%= browsePrefix %>/auctions/enable/" + auctionId, 
      function(data) { location.reload(); });
  }

  function auctionDisable(ev, auctionId) {
    ev.preventDefault();
    $.post("<%= browsePrefix %>/auctions/disable/" + auctionId, 
      function(data) { location.reload(); });
  }

  function auctionDelete(ev) {
    var auctionId = $("#deleteAuctionId").val();
    ev.preventDefault();
    $.ajax({
      url: "<%= browsePrefix %>/auctions/" + auctionId, 
      type: "DELETE",
      success: function(data) { location.reload(); },
      error: function(err) { alert("There was an issue deleting this auction."); console.log(err); } 
    });
  }

  function loadDelete(auctionId) {
    $('#deleteAuctionId').val(auctionId);
    $('#deleteAuctionModal').modal('show');
  }
</script>