<% layout('sblayout') %>

<div class="content-page col-sm-offset-1 col-sm-10">

  <% include ads/show %>

  <% if (user && user.username === ad.username) { %>
    <div class="col-sm-12" style="margin-bottom: 10px;">
      <form action="<%= browsePrefix%>/ads/<%= ad._id %>/delete" method="post">
        <% if (ad.approved !== true) { %>
          <a href="<%= browsePrefix %>/ads/<%= ad._id %>/edit" class="btn btn-primary">
            Edit
          </a>
        <% } %>
        <button class="btn btn-danger">
          Delete
        </button>
      </form>
    </div>
  <% } %>

  <% if( user && user.admin === true) { %>
    <div class="col-sm-12">

      <div class="col-sm-6">
        <strong>Admin Controls: </strong>
      </div>

      <div class="col-sm-6">
        <form action="<%= browsePrefix%>/ads/<%= ad._id %>/reject" method="post" class="pull-right">
          <button class="btn btn-danger">
            Reject
          </button>
        </form>

        <form action="<%= browsePrefix%>/ads/<%= ad._id %>/approve" method="post" class="pull-right">
          <button class="btn btn-success">
            Approve
          </button>
        </form>
      </div>

    </div>
  <% } %>

</div>  