<% layout('sblayout') %>

<div class="content-page col-sm-offset-1 col-sm-10">

  <% include ads/show %>

  <% if (user && user.userId === ad.userId) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">User Controls</h3>
      </div>
      <div class="panel-body">
        <% if (ad.approved === true) { %>
          <% if (ad.inRotation === true) { %>
            <div class="btn-group">
              <form action="<%= browsePrefix %>/ads/<%= ad._id %>/outRotation" method="post">
                <button class="btn btn-primary">Remove from rotation</button>
              </form>
            </div>
          <% } else { %>
            <div class="btn-group">
              <form action="<%= browsePrefix %>/ads/<%= ad._id %>/inRotation" method="post">
                <button class="btn btn-primary">Add to rotation</button>
              </form>            
            </div>
          <% } %>
        <% } %>

        <% if (ad.approved !== true && ad.submitted !== true) { %>
          <div class="btn-group">
            <a href="<%= browsePrefix %>/ads/<%= ad._id %>/edit" class="btn btn-primary">
              Edit
            </a>
          </div>
        <% } %>

        <div class="btn-group">
          <form action="<%= browsePrefix %>/ads/<%= ad._id %>/delete" method="post">
            <button class="btn btn-danger">
              Delete
            </button>
          </form>
        </div>

      </div>
    </div>
  <% } %>

  <% if( user && user.admin === true && (ad.submitted === true || ad.approved === true || ad.rejected === true)) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Admin Controls</h3>
      </div>
      <div class="panel-body">
        <div class="pull-right">
          <% if (ad.approved === true) { %>
            <div class="btn-group">
              <form action="<%= browsePrefix%>/ads/<%= ad._id %>/reject" method="post">
                <button class="btn btn-danger">
                  Reject
                </button>
              </form>
            </div>
          <% } else if (ad.rejected === true ) { %>
            <div class="btn-group">
              <form action="<%= browsePrefix%>/ads/<%= ad._id %>/approve" method="post">
                <button class="btn btn-success">
                  Approve
                </button>
              </form>
            </div>
          <% } else { %>
            <div class="btn-group">
              <form action="<%= browsePrefix%>/ads/<%= ad._id %>/approve" method="post">
                <button class="btn btn-success">
                  Approve
                </button>
              </form>
            </div>
            <div class="btn-group">
              <form action="<%= browsePrefix%>/ads/<%= ad._id %>/reject" method="post">
                <button class="btn btn-danger">
                  Reject
                </button>
              </form>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  <% } %>

</div>  