<% layout('sblayout') %>

<div class="content-page col-sm-offset-1 col-sm-10">

  <div class="panel panel-default">
    <div class="panel-heading">
      <b>ID: <%= ad._id %></b>
    </div>
    <div class="panel-body">
      <div class="col-sm-12">
        <div class="row">
          <%- ad.html %>
        </div>

        <br>

        <div class="row well">
          <%= ad.html %>
        </div>

        
        <% if(user) { %>
          <br>
          <div class="pull-right">
            <form action="<%= browsePrefix%>/ads/<%= ad._id %>/reject" method="post" class="pull-right">
              <button class="btn btn-danger">
                Reject
              </button>
            </form>

            <form action="<%= browsePrefix%>/ads/<%= ad._id %>/approve" method="post" class="pull-right">
              <button class="btn btn-success">
                Approve
              </button>
            </form>
          </div>
        <% } %>
      </div>
    </div>
  </div>

</div>  