<% layout('sblayout') %>

<div class="content-page col-sm-12">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="">
        <a href="<%= browsePrefix %>/users/<%= ad.userId %>" class="ad_nav_left">
          <%= ad.username %>
        </a>
        <a href="https://bitcointalk.org/index.php?action=profile;u=<%= ad.userId %>;sa=showPosts" class="ad_nav_right">
          <%= ad.username %>'s posts
        </a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <% include ads/show %>

  <% if (user && user.userId === ad.userId) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">User Controls</h3>
      </div>
      <div class="panel-body">
        <% if (ad.approved === true) { %>
          <% if (ad.inRotation === true) { %>
            <div class="btn-group">
              <form action="<%= browsePrefix %>/ads/<%= ad._id %>/outRotation" method="post">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                <button class="btn btn-primary">Remove from rotation</button>
              </form>
            </div>
          <% } else { %>
            <div class="btn-group">
              <form action="<%= browsePrefix %>/ads/<%= ad._id %>/inRotation" method="post">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                <button class="btn btn-primary">Add to rotation</button>
              </form>            
            </div>
          <% } %>
        <% } %>

        <% if (ad.approved === false && ad.submitted === false) { %>
          <div class="btn-group">
            <a href="<%= browsePrefix %>/ads/<%= ad._id %>/edit" class="btn btn-primary">
              Edit
            </a>
          </div>
        <% } %>

        <div class="btn-group">
          <form action="<%= browsePrefix %>/ads/<%= ad._id %>/delete" method="post">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>">
            <button class="btn btn-danger">
              Delete
            </button>
          </form>
        </div>

      </div>
    </div>
  <% } %>

  <% if( user && user.admin === true && (ad.submitted === true || ad.approved === true || ad.rejected === true)) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Admin Controls</h3>
      </div>
      <div class="panel-body">
        <div class="pull-right">
          <% if (ad.approved === true) { %>
            <div class="btn-group">
              <form action="<%= browsePrefix%>/ads/<%= ad._id %>/reject" method="post">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                <button class="btn btn-danger">
                  Reject
                </button>
              </form>
            </div>
          <% } else if (ad.rejected === true ) { %>
            <div class="btn-group">
              <form action="<%= browsePrefix%>/ads/<%= ad._id %>/approve" method="post">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                <button class="btn btn-success">
                  Approve
                </button>
              </form>
            </div>
          <% } else { %>
            <div class="btn-group">
              <form action="<%= browsePrefix%>/ads/<%= ad._id %>/approve" method="post">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                <button class="btn btn-success">
                  Approve
                </button>
              </form>
            </div>
            <div class="btn-group">
              <form action="<%= browsePrefix%>/ads/<%= ad._id %>/reject" method="post">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                <button class="btn btn-danger">
                  Reject
                </button>
              </form>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  <% } %>

</div>  