<% layout('sblayout') %>
<div class="content-page col-sm-offset-1 col-sm-10">

  <h3>
    <% if(auction.open) { %>
      <span class="label label-success">Open</span>
    <% } else { %>
      <span class="label label-danger">Closed</span>
    <% } %>
    <%= auction._id %>
  </h3>

  <div class="row">

    <div class="col-sm-6 slot_text">
      Auction Start Time: 
      <br>
      <%= new Date(auction.start) %>
    </div>

    <div class="col-sm-6 slot_text">
      Auction End Date: 
      <br>
      <%= new Date(auction.end) %>
    </div>

  </div>

  <br>
  <b>Ad Slot Results</b>
  <br>

  <% for(var i=0; i < auction.bidPerSlot.length; i++) { %>

    <div class="slot slot_text">
      <div class="row">
        <div class="col-sm-3">Ad Slot #<%= i+1 %></div>
        <div class="col-sm-6"><%= auction.bidPerSlot[i].user.username %></div>
        <div class="col-sm-3"><%= auction.bidPerSlot[i].price %> BTC</div>
      </div>
    </div>

  <% } %>

  <% if (auction.bidPerSlot.length === 0) { %>
    <div class="slot slot_text">
      No Slots filled
    </div>
  <% } %>
  
</div>