<% layout('sblayout') %>
<div class="content-page col-sm-12">

  <h3>
    <% if(auction.open) { %>
      <span class="label label-success">Open</span>
    <% } else { %>
      <% if (auction.start > new Date().getTime()) { %>
        <span class="label label-primary">Upcoming</span>
      <% } else if (auction.end < new Date().getTime()) { %>
        <span class="label label-default">Past</span>
      <% } else { %>
        <span class="label label-danger">Closed</span>
      <% } %>
    <% } %>
    <%= auction._id %>
  </h3>

  <div class="panel panel-default editControls"> 
    <div class="panel-heading"><b>Edit Auction</b></div>

    <div class="panel-body slot_text">
      <input id="auctionId" type="hidden" value="<%= auction._id %>">
      <input id="hiddenAuctionStart" type="hidden" value="<%= auction.start %>">
      <input id="hiddenAuctionEnd" type="hidden" value="<%= auction.end %>">
      <input id="hiddenAdsStart" type="hidden" value="<%= auction.adsStart %>">
      <input id="hiddenAdsEnd" type="hidden" value="<%= auction.adsEnd %>">
        
      <!-- Auction/Ads Times -->
      <div class="row text-left">
        <div class="col-sm-3">
          Auction Start Date/Time: 
          <div class="form-group">
            <div class='input-group date' id='auctionStart'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          Auction End Date/Time: 
          <div class="form-group">
            <div class='input-group date' id='auctionEnd'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          Ads Start Date/Time: 
          <div class="form-group">
            <div class='input-group date' id='adsStart'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          Ads End Date/Time: 
          <div class="form-group">
            <div class='input-group date' id='adsEnd'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Auction Description -->
      <div class="row text-left">
        <div class="form-group col-sm-12">
          Auction Description: (HTML Allowed)
          <textarea id="auctionDescription" class="form-control"><%= auction.description %></textarea>
        </div>
      </div>
  
      <br />

      <!-- Auctin Regions -->
      <div class="panel panel-default">
        <div class="panel-heading text-left">Auction Regions</div>
        
        <div class="panel-body">
          
          <div class="row">
            <div class="col-sm-5 text-left">
              Region:
              <select id="auctionRegion" class="form-control">
                <% regions.forEach(function(region) { %>
                  <option value="<%= region %>">
                    <%= region %>
                  </option>
                <% }); %>
              </select>
            </div>

            <div class="col-sm-5 text-left">
              Number of slots:<br />
              <input id="slots" type="number" class="form-control" value="8" step="1" min="1">
            </div>

            <div class="col-sm-2 auction_add_button">
              <button class="btn btn-primary btn-block" onclick="addRegion();">
                Add Region
              </button>
            </div>
          </div>

          <div class="row">
            <br \>
            <div class="col-sm-12 table-responsive">
              <table id="regionsTable" class="table table-striped table-condensed table-hover">
                <thead>
                  <tr>
                    <th>Regions</th>
                    <th>Number of Slots</th>
                  </tr>
                </thead>
                <tbody class="text-left">
                  <% auction.regions.forEach(function(region) { %>
                    <tr>
                      <td><%= region.name %></td>
                      <td><%= region.slots %></td>
                      <td class="text-center">
                        <% if (!region.hasBids) { %>
                          <button class="btn btn-xs btn-danger" onclick="removeRegion(this);">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        <% } %>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <em>Regions can only be removed if they don't have bids</em>
          </div>

          <div class="row">
            <span id="errorText" class="text-danger"></span>
          </div>

        </div>
      </div>

      <!-- Auction submit -->
      <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
          <div class="checkbox auction_enabled">
            <label>
              <input id="auctionEnabled" type="checkbox" <% if (auction.enabled) { %>checked<% } %> >Enabled?
            </label>
          </div>
        </div>
        <div class="col-sm-4 auction_add_button">
          <button class="btn btn-success btn-block" onclick="updateAuction();">
            Update Auction
          </button>
        </div>
      </div>
    </div>
  </div>
</div>