<% layout('sblayout') %>

<div class="content-page col-sm-offset-1 col-sm-10">

  <% if (user && auction.open) { %>
    <div class="text-center" <%if (!registered || regStatus) { %> style="padding-bottom: 15px;" <% } %>>
      <% if (regStatus) { %>
        Current Registration Status: 
        <span class="label label-warning">
          <%= regStatus %>
        </span>
      <% } else if (!registered) { %>
        <form action="/registration" method="POST">
          <button class="btn btn-success">
            Please Click Here to Register to bid
          </button>
        </form>
      <% } %>
      <br>
      <strong>
        Reminder: For each region in an auction, at least one approved ad for that region is also necessary to bid.
      </strong>
    </div>
  <% } %>

  <% include auctions/auction_show %>

  <% if (bids.length > 0) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Bid History:</b>
      </div>

      <div class="panel-body">
        <% for (var i=0; i < bids.length; i++) { %>
          <div class="slot">
            <div class="row">
              <div class="col-sm-12">
                ID: <strong><%= bids[i]._id %></strong><br>
                Date/Time: <span class="date"><%= bids[i].created_at %></span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-sm-4">
                User: 
                <a href="<%= browsePrefix %>/users/<%= bids[i].user.userId %>">
                  <%= bids[i].user.username %>
                </a>
                <br>
              </div>
              <div class="col-sm-4">
                Slots: <%= bids[i].slots %><br>
              </div>
              <div class="col-sm-4">
                Price: <%= bids[i].price %><br>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
</div>
