<% layout('sblayout') %>
<div class="content-page col-sm-offset-1 col-sm-10">

  <h3>
    <% if(auction.open) { %>
      <span class="label label-success">Open</span>
    <% } else { %>
      <% if (auction.start > new Date().getTime()) { %>
        <span class="label label-primary">Upcoming</span>
      <% } else if (auction.end < new Date().getTime()) { %>
        <span class="label label-default">Past</span>
      <% } else { %>
        <span class="label label-danger">Closed</span>
      <% } %>
    <% } %>
    <%= auction._id %>
  </h3>

  <div class="panel panel-default editControls"> 
    <div class="panel-heading">
      <b>Edit Auction</b>
    </div>
    <div class="panel-body slot_text">
      
      <div class="row text-left">
        <form role="form" method="post" action="/auctions">
          <input id="auctionId" type="hidden" value="<%= auction._id %>">
          <input id="hiddenStart" type="hidden" value="<%= auction.start %>">
          <input id="hiddenEnd" type="hidden" value="<%= auction.end %>">

          <div class="col-sm-4">
            Start Date/Time: 
            <div class="form-group">
              <div class='input-group date' id='startDateTime'>
                <input type='text' class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            End Date/Time: 
            <div class="form-group">
              <div class='input-group date' id='endDateTime'>
                <input type='text' class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            Number of slots:<br>
            <input id="slots" name="slots" type="number" class="form-control" value="<%= auction.slots %>" step="1" min="1">
          </div>
        </form>
      </div>

      <div class="row text-left">
        <div class="form-group col-sm-12">
          Auction Description: (HTML Allowed)
          <textarea id="auctionDescription" class="form-control"><%= auction.description %></textarea>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-4">
          Region:
          <select name="auctionRegion" id="auctionRegion" class="form-control">
            <% regions.forEach(function(region) { %>
              <option value="<%= region %>" <% if (auction.region === region) { %>selected<% } %>>
                <%= region %>
              </option>
            <% }); %>
          </select>
        </div>
        <div class="col-sm-4">
          <div class="checkbox auction_enabled">
            <label>
              <input id="auctionEnabled" type="checkbox" <% if (auction.enabled) { %>checked<% } %> >Enabled?
            </label>
          </div>
        </div>
        <div class="col-sm-4 auction_add_button">
          <button class="btn btn-primary btn-block" onclick="updateAuction();">
            Update Auction
          </button>
        </div>
      </div>

    </div>
  </div>

</div>