<% layout('sblayout') %>

<div class="content-page col-sm-offset-1 col-sm-10">

  <% if (user && auction.open) { %>

    <% if (reguser && reguser.registered === true) { %>
      
      <div style="margin: 0px 5px">
        <b>Advertising slots (1 in <%= auction.slots + 2%> chance)</b><br>
        <%= auction.slots %> are auctioned off. One is the factoid slot. One goes to PIA for hosting the forum.
        <br>
        <small>
          <em>
            Advertised sites are not endorsed by the Bitcoin Forum.
            They may be unsafe, untrustworthy, or illegal in your jurisdiction.
          </em>
          <br>
          <em>
            To prevent sniping, the auction time listed below is not exact. The auction will actually end at a random time within 30 minutes of the listed time.
            </em>
        </small>
      </div>
      <div class="row bidding">
        <form role="form" method="post" action="/sb/bids">

          <input type="hidden" name="auctionId" value="<%= auction._id %>">

          <div class="col-sm-4 slot_text">
            Advertising Slot(s):<br>
            <input type="number" name="slots" class="form-control" value="1" min="1">
          </div>

          <div class="col-sm-4 slot_text">
            Bid Per Slot:<br>
            <input type="number" name="price" class="form-control" value="<%= latestPrice.toFixed(2) %>" step="0.05">
          </div>

          <div class="col-sm-4 slot_text bid_button">
            <button type="submit" class="btn btn-primary btn-block">Bid</button>
          </div>

        </form>
      </div>

    <% } else if (reguser && reguser.registrationStatus) { %>
      
      <div class="text-center" style="margin-bottom: 15px;">
        Current Registration Status: 
        <span class="label label-warning">
          <%= reguser.registrationStatus %>
        </span>
      </div>    

    <% } else { %>

      <div class="text-center" style="margin-bottom: 15px;">
        <a class="btn btn-success" href="<%= browsePrefix %>/auction/registration/<%= auction._id %>">Register for this auction</a>
      </div>

    <% } %>

  <% } %>

  <% include auctions/show %>

  <% if (bids.length > 0) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Bid History:</b>
      </div>

      <div class="panel-body">
        <% for (var i=0; i < bids.length; i++) { %>
          <div class="slot">
            <div class="row">
              <div class="col-sm-12">
                ID: <strong><%= bids[i]._id %></strong><br>
                Date/Time: <span class="date"><%= new Date(bids[i].created_at).toUTCString() %></span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-sm-4">
                User: <%= bids[i].user.username %><br>
              </div>
              <div class="col-sm-4">
                Price: <%= bids[i].price %><br>
              </div>
              <div class="col-sm-4">
                Slots: <%= bids[i].slots %><br>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
</div>
