<% layout('sblayout') %>
<div class="content-page col-sm-offset-1 col-sm-10">

  <h3>
    Auction History
  </h3>

  <b>Final Auction Results</b>
  <br>

  <% for(var i=0; i < auctions.length; i++) { %>

    <div class="slot">
      <div class="row">
        <div class="col-sm-12">
          Auction: <%= auctions[i]._id %>
        </div>
        <div class="col-sm-6">
          <span class="auction_header">Start: </span>
          <%= new Date(auctions[i].start) %>
          <br>
          <span class="auction_header">End: </span>
          <%= new Date(auctions[i].end) %>
        </div>
        <div class="col-sm-offset-3 col-sm-3">
          <a href="<%= browsePrefix %>/auctions/<%= auctions[i]._id %>" class="btn btn-primary btn-block">Details</a>
        </div>
      </div>
    </div>

  <% } %>
  
  
</div>