<% layout('sblayout') %>
<div class="content-page col-sm-offset-1 col-sm-10">

  <h3>
    Auction History
  </h3>

  <b>Final Auction Results</b>
  <em>(Sorted by End Time)</em>
  <br>

  <% auctions.forEach(function(auction) { %>
    <div class="slot">
      <div class="row">
        <div class="col-sm-12">
          Auction: 
          <a href="<%= browsePrefix %>/auctions/<%= auction._id %>">
            <%= auction._id %>
          </a>
        </div>
        <div class="col-sm-9">
          <span class="auction_header">Start: </span>
          <span class="scriptDate"><%= new Date(auction.start).toUTCString() %></span>
          <br>
          <span class="auction_header">End: </span>
          <span class="scriptDate"><%= new Date(auction.end).toUTCString() %></span>
        </div>
        <div class="col-sm-3">
          Total Slots: <%= auction.slots %><br>
        </div>
      </div>
    </div>    
  <% }) %>

</div>