<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/scripts/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!-- hidden ad info for editing -->
    <input id="adId" type="hidden" value="<% if (ad) { %><%= ad._id %><% } %>">
    <input id="userId" type="hidden" value="<%= user.userId %>">

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Main Content -->
    <div class="upload-header text-center">
      <h1>Reserved Ad Editor</h1>
      <% if (ad) { %>
        Editing Ad: <%= ad._id %>
      <% } %>
    </div>

    <div class="container-fluid bootstrap-fluid-fix">
      <div class="row coding-section">
        <div class="col-sm-offset-1 col-sm-10 well">
            <div style="padding-bottom: 20px;">
              Add your Ad HTML/CSS below:
            </div>

            CSS: <br />
            <em>- Write as if you were between &lt;style&gt; tags</em><br>
            <em>- Use a unique prefix for all classes, no IDs</em>
            <textarea name="css" id="upload-css" rows="3"><% if(ad && ad.html) { %><%- ad.css %><% } %></textarea>

            <br>

            HTML:
            <textarea name="html" id="upload-code" rows="3"><% if(ad && ad.html) { %><%- ad.html %><% } %></textarea>

            <br>
            
            Please choose the regions you want your ad to display in. 
            <% regions.forEach(function(region) { %>
              <div class="checkbox">
                <label>
                  <input id="<%= region %>" name="<%= region %>" type="checkbox" <% if (ad && ad.regions && ad.regions.indexOf(region) > -1) { %>checked<% } %> class="region"><%= region %>
                </label>
              </div>
            <% }) %>

        </div>
      </div>

      <div id="preview-container" class="row review-section">
        <div class="col-sm-offset-1 col-sm-10 well">
          <div id="preview-text" class="row review-section-text">
            <div class="col-sm-12">
              This is what your add will look like on the page:</br>
            </div>
          </div>

          <div id="preview"></div>
        </div>
      </div>

      <div id="preview-container" class="row review-section">
        <div class="col-sm-offset-1 col-sm-10 well">

          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button class="btn btn-default pull-right submitReservedAd" data-use="false">Add But don't Use</button>
            </div>
            <div class="btn-group">
              <button class="btn btn-success pull-right submitReservedAd" data-use="true">Add and use right away</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="/scripts/jquery/jquery-2.1.0.min.js"></script>
    <script src="/css/bootstrap/js/bootstrap.js"></script>
    <script src="/scripts/codemirror/lib/codemirror.js"></script>
    <script src="/scripts/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/scripts/codemirror/mode/xml/xml.js"></script>
    <script src="/scripts/codemirror/mode/javascript/javascript.js"></script>
    <script src="/scripts/caja/html-sanitizer-minified.js"></script>
    <script src="/scripts/upload_main.js"></script>
  </body>
</html>
