<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitcoin Talk Ad Auction</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/datetimepicker/bootstrap-datetimepicker.css">
  </head>
  <body>
    <input id="_csrf" type="hidden" name="_csrf" value="<%= csrftoken %>">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Page Start -->
    <div class="main">
      <!-- sidebar -->
      <div class="sidebar hidden-xs">
        <!-- Logo -->
        <div class="row logo">
          Adness
        </div>

        <!-- Links to other pages -->
        <% if (user && user.admin && user.admin === true) { %>
          <a href="/admin">
            <div class="sidebar-button">
              <span class="glyphicon glyphicon-wrench icon-large"></span><br>
              Admin
            </div>
          </a>
        <% } %>
        <a href="<%= browsePrefix %>">
          <div class="sidebar-button">
            <span class="glyphicon glyphicon-home icon-large"></span><br>
            Home
          </div>
        </a>
        <a href="<%= browsePrefix %>/rules">
          <div class="sidebar-button">
            <span class="glyphicon glyphicon-list-alt icon-large"></span><br>
            Rules
          </div>
        </a>
        <% if (user && user.username) { %>
          <a href="<%= browsePrefix %>/users/<%= user.userId %>">
            <div class="sidebar-button">
              <span class="glyphicon glyphicon-user icon-large"></span><br>
              Profile
            </div>
          </a>
        <% } %>
        <a href="<%= browsePrefix %>/history">
          <div class="sidebar-button">
            <span class="glyphicon glyphicon-bookmark icon-large"></span><br>
            History
          </div>
        </a>
      </div>

      <div class="main-container">
        <!-- mobile ready header -->
        <div class="row">
          <nav id="header" class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <% if (user) { %>
                  <div class="header-logout-message">
                    <%= serverTime %>
                  </div>
                <% } %>

                <!-- pull down login -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-login">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

                <!-- drop down sidebar -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-sidenav" id="mobile-menu-btn">
                  Menu
                </button>
              </div>

              <!-- sidebar nav in header -->
              <div class="collapse" id="header-sidenav">
                <ul class="nav navbar-nav nav-justified">
                  <% if (user && user.admin && user.admin === true) { %>
                    <li><a href="/admin" class="navbar-link">Admin</a></li>
                  <% } %>
                  <li><a href="<%= browsePrefix %>" class="navbar-link">Home</a></li>
                  <li><a href="<%= browsePrefix %>/rules">Rules</a></li>
                  <% if (user && user.username) { %>
                    <li>
                      <a href="<%= browsePrefix %>/users/<%= user.userId %>">
                        Profile
                      </a>
                    </li>
                  <% } %>
                  <li><a href="<%= browsePrefix %>/history">History</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="header-login">
                <% if (user) { %>
                  <div class="header-logout-container-wide">
                    <a href="/logout" class="btn btn-primary">Logout</a>
                    <div class="header-logout-menu-message">
                      Server Time: <%= serverTime %>
                    </div>
                  </div>
                <% } else { %>
                  <form class="form-inline" role="form" method="post" action="/login">
                    <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                    <div class="form-group">
                      <input name="username" type="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input name="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Log In</button>
                  </form>
                <% } %>
              </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->
          </nav>
        </div>

        <!-- Main Content -->
        <div class="row">
          <%- body %>
        </div>
      </div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="/scripts/jquery/jquery-2.1.0.min.js"></script>
    <script src="/scripts/momentjs/moment.min.js"></script>
    <script src="/css/bootstrap/js/bootstrap.js"></script>
    <script src="/scripts/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/scripts/caja/html-sanitizer-minified.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>
