<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitcoin Talk Ad Auction</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/pickadate/compressed/themes/default.css">
    <link rel="stylesheet" href="/css/pickadate/compressed/themes/default.date.css">
    <link rel="stylesheet" href="/css/pickadate/compressed/themes/default.time.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Page Start -->
    <div class="main">
      <!-- sidebar -->
      <div class="sidebar">
        <!-- Logo -->
        <div class="row logo">
          Adness
        </div>

        <!-- Links to other pages -->
        <% if (user && user.username) { %>
          <a href="/admin">
            <div class="sidebar-button">
              <span class="glyphicon glyphicon-tasks icon-large"></span><br>
              Admin
            </div>
          </a>
        <% } %>
        <a href="<%= browsePrefix %>">
          <div class="sidebar-button">
            <span class="glyphicon glyphicon-home icon-large"></span><br>
            Home
          </div>
        </a>
        <a href="<%= browsePrefix %>/rules">
          <div class="sidebar-button">
            <span class="glyphicon glyphicon-list-alt icon-large"></span><br>
            Rules
          </div>
        </a>
        <% if (user && user.username) { %>
          <a href="<%= browsePrefix %>/users/<%= user.username %>">
            <div class="sidebar-button">
              <span class="glyphicon glyphicon-user icon-large"></span><br>
              Profile
            </div>
          </a>
        <% } %>
        <a href="<%= browsePrefix %>/history">
          <div class="sidebar-button">
            <span class="glyphicon glyphicon-list-alt icon-large"></span><br>
            History
          </div>
        </a>

      </div>

      <div class="main-container">
        <!-- Header -->
        <div class="row">
          <div class="col-sm-12 header">
            <div class="container-fluid bootstrap-fluid-fix">
              <div class="row">
                <!-- Login module -->
                <div class="col-sm-11">
                  <% if (user) { %>
                  <div style="padding-top: 7px">
                    Logged In: <%= user.username %>
                    <a href="/logout">Logout</a>
                  </div>
                  <% } else { %>
                  <form class="form-inline pull-right" role="form" method="post" action="/login">
                    <div class="form-group">
                      <!-- <span>{{message}}</span> -->
                    </div>
                    <div class="form-group">
                      <input name="username" type="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input name="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Log In</button>
                    <a class="btn btn-default" href="<%= browsePrefix %>/registration">Registration</a>
                  </form>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Main Content -->
        <div class="row">
          <%- body %>
        </div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/scripts/jquery/jquery-2.1.0.min.js"></script>
    <script src="/css/bootstrap/js/bootstrap.js"></script>
    <script src="/scripts/pickadate/legacy.js"></script>
    <script src="/scripts/pickadate/picker.js"></script>
    <script src="/scripts/pickadate/picker.date.js"></script>
    <script src="/scripts/pickadate/picker.time.js"></script>
    <script type="text/javascript">
      var $startDate, $startTime, $endDate, $endTime;

      // initialize the pickadate ui
      $(document).ready(function() {
        $startDate = $("#startDate").pickadate({
          format: 'yyyy-m-d',
          editable: true
        });
        $startTime = $("#startTime").pickatime({
          interval: 5,
          editable: true
        });
        $endDate = $("#endDate").pickadate({
          format: 'yyyy-m-d',
          editable: true
        });
        $endTime = $("#endTime").pickatime({
          interval: 5,
          editable: true
        });

        if (document.URL.indexOf("/admin/auctions/edit") >= 0) {
          var start = $('#startDateTime').val();
          var end = $('#endDateTime').val();
          setDateTime(start, end);
        }
        else if (document.URL.indexOf("/admin") >= 0) {
          setDateTime();
        }
      });

      function submitAuction(event) {
        // input validation
        var valid = auctionValidation();
        if(!valid) { return; }

        // ajax post call to server to create auction
        $.ajax({
          type: "POST",
          url: '<%= browsePrefix %>/auctions',
          data: {
            start: valid.start,
            end: valid.end,
            slots: valid.slots
          },
          success: function() {
            location.reload();
          },
          error: function() {
            alert("There was an error creating the auction.");
          }
        });
      }

      function updateAuction(id, enabled) {
        // input validation
        var valid = auctionValidation();
        if(!valid) { return; }

        var id = $('#auctionId').val();
        var enabled = $("#auctionEnabled").prop("checked");

        // ajax post call to server to create auction
        $.ajax({
          type: "POST",
          url: '<%= browsePrefix %>/auctions/edit',
          data: {
            auctionId: id,
            start: valid.start,
            end: valid.end,
            slots: valid.slots,
            enabled: enabled
          },
          success: function() {
            console.log(window.location);
            window.location.replace("http://" + window.location.host + "/admin");
          },
          error: function() {
            alert("There was an error updating the auction.");
          }
        });
      }

      function setDateTime(start, end) {
        if (start && end) {
          var newStart = new Date(Number(start));
          var startDatePicker = $startDate.pickadate('picker');
          var startTimePicker = $startTime.pickatime('picker');
          startDatePicker.set('select', newStart);
          startTimePicker.set('select', newStart);

          var newEnd = new Date(Number(end));
          var endDatePicker = $endDate.pickadate('picker');
          var endTimePicker = $endTime.pickatime('picker');
          endDatePicker.set('select', newEnd);
          endTimePicker.set('select', newEnd);
        }
        else {
          // default date in input
          var defaultStart = new Date();
          defaultStart.setDate(defaultStart.getDate()+1);
          defaultStart.setHours(0);
          defaultStart.setMinutes(0);
          defaultStart.setSeconds(0);
          defaultStart.setMilliseconds(0);
          var startDatePicker = $startDate.pickadate('picker');
          var startTimePicker = $startTime.pickatime('picker');
          startDatePicker.set('select', defaultStart);
          startTimePicker.set('select', defaultStart);

          var defaultEnd = new Date();
          defaultEnd.setDate(defaultEnd.getDate() +3);
          defaultEnd.setHours(0);
          defaultEnd.setMinutes(0);
          defaultEnd.setSeconds(0);
          defaultEnd.setMilliseconds(0);
          var endDatePicker = $endDate.pickadate('picker');
          var endTimePicker = $endTime.pickatime('picker');
          endDatePicker.set('select', defaultEnd);
          endTimePicker.set('select', defaultEnd);
        }
      }

      function buildDateTime(date, time) {
        // get the date, format yyyy-mm-dd
        var year = date.split("-")[0];
        var month = date.split("-")[1];
        var day = date.split("-")[2];

        // get the time, format HH:MM (AM/PM)
        var hours = Number(time.split(":")[0]); // hours from [12]:00 AM
        var timeSplit = time.split(":")[1]; // split second half 12:[00 AM]
        var mins = 0;
        if (timeSplit) { mins = timeSplit.split(" ")[0]; } // mins 12:[00] AM
        if (timeSplit) {
          var period = timeSplit.split(" ")[1]; // period 12:00 [AM]
          if (period && period.toUpperCase() === "PM") {
            hours = hours + 12;
            if (hours === 24) { hours = 12; }
          }
          else if (period && period.toUpperCase() === "AM") {
            // if no period, assume first 12 hours
            // so do nothing
          }
          else {
            return "";
          }
        }

        // parse datetime into millisecs
        var datetime = new Date();
        datetime.setFullYear(Number(year));
        datetime.setMonth(Number(month) -1, Number(day));
        datetime.setHours(Number(hours), Number(mins));
        return datetime.getTime();
      }

      function auctionValidation() {
        // Initial input validation
        var datePicker = $startDate.pickadate('picker');
        var startDateInput = datePicker.get();
        if (!startDateInput || startDateInput.length === 0) {
          alert("The Start Date is not filled out.");
          return false;
        }

        var timePicker = $startTime.pickatime('picker');
        var startTimeInput = timePicker.get();
        if (!startTimeInput || startTimeInput.length === 0) {
          alert("The Start Time is not filled out.");
          return false;
        }

        var datePicker = $endDate.pickadate('picker');
        var endDateInput = datePicker.get();
        if (!endDateInput || endDateInput.length === 0) {
          alert("The End Date is not filled out.");
          return false;
        }

        var timePicker = $endTime.pickatime('picker');
        var endTimeInput = timePicker.get();
        if (!endTimeInput || endTimeInput.length === 0) {
          alert("The End Time is not filled out.");
          return false;
        }

        var start = buildDateTime(startDateInput, startTimeInput);
        var end = buildDateTime(endDateInput, endTimeInput);
        var slots = $('#slots').val();

        // validate startDate, endDate and slots
        var startValid = !isNaN(parseFloat(start)) && isFinite(start);
        if (startValid === false) {
          alert("The Start date/time is not valid.");
          return false;
        }

        var endValid = !isNaN(parseFloat(end)) && isFinite(end);
        if (endValid === false) {
          alert("The End date/time is not valid.");
          return false;
        }

        if (end < start) {
          alert("The End date/time is before Start date/time.");
          return false;
        }

        var slotsValid = !isNaN(parseFloat(slots)) && isFinite(slots);
        if (slotsValid === false) {
          alert("The number of slots is not valid.");
          return false;
        }

        if (slots < 0) {
          alert("Slots Cannot be negative.");
          return false;
        }

        return {
          start: start,
          end: end,
          slots: slots
        };
      }
    </script>
    <!-- endbower -->
    <!-- endbuild -->
</body>
</html>
