<div class="panel panel-default">
  <div class="panel-body cardBody">
    
    <div class="row cardTitle">
      <span class="cardHeader">
        Ad:
        <a href="<%= browsePrefix %>/ads/<%= ad._id %>">
          <%= ad._id %>
        </a>
      </span>
      <% if (user.admin === true) { %>
        <span class="cardHeaderRight">
          <a href="<%= browsePrefix %>/ads/<%= ad._id %>/edit"><div class="glyphicon glyphicon-edit"></div> Edit</a>
        </span>
      <% } %>
        <br>
      <h4>
        Regions:
        <%= ad.regions %>
      </h4>
    </div>
    
    <div class="row cardSpacing">
      <strong>Ad HTML: </strong><br>
      <%= ad.html %>
      <br><br>
      <strong> Ad CSS: </strong><br>
      <%= ad.css %>
    </div>

    <hr>

    <div class="row cardSpacing">
      <strong>Ad Preview (without css applied): </strong><br>
      <%- ad.html %>
    </div>
    
  </div>
</div>