<strong>You've won <%= user.lineItems.length %> ad slot(s) in auction <%= auctionId %>!</strong>

<hr>

<div style="width: 90%; margin: auto;">
  Now that the auction has ended, please promptly pay for the slot(s) you've won using the invoice link below. This invoice will expire on: <%= expiration %>. If you do not pay in time, you will lose your slots, and you may be banned from future ad auctions.
  <br><br>
  <a href="<%= invoiceUrl %>/invoices/<%= invoiceId %>">
    Click here to view your invoice.
  </a>
  <br><br>
  Please ensure that the ads you want on the forum are in rotation. Ads submitted and approved but not marked "in rotation" will not be advertised. Once your payment clears and the ad period begins, ads marked "In Rotation" on your profile page will start being displayed in the forum's ad area. If you have more ads than slots, then the forum will randomly rotate between your ads. Your ads can be updated during the ad period, though modifications and new ads require approval.
</div>

<br><br>
Thanks for participating in this auction!
<br><br>

<em>This is a automated email. Please do not reply to this email.</em>