<h1>Congratulations <%= user.username %>!</h1>
<strong>You've won <%= user.lineItems.length %> ad slot(s) in auction: <%= auctionId %>!</strong>

<hr>

<div style="width: 90%; margin: auto;">
  Now that the auction has ended please promptly pay for the number of slot(s) you've won. We've provided a link below to an invoice and a payment processor to handle the payment.
  <br><br>
  <a href="<%= invoiceUrl %>/invoices/<%= invoiceId %>">
    Click here to view your invoice.
  </a>
  <br><br>
  Please ensure that the ads you want on the forum are approved. Ads submitted but not approved will not be shown on the forum. Once your payment clears, ads that will be used on the forum will be marked "In Rotation" in your profile page. 
</div>

<br><br>
Thank you for participating in this auction. 
<br><br>

<em>This is a automated email. Please do not reply to this email.</em>